h2{
    color: red;
}
/*클래스 선택자 쓸 때는 .클래스값으로 써야한다*/
/* 아이디 선택자를 쓸 때는 #아이디값으로 써야한다*/

/*둥근 사진 css*/
.circle_pic{
    border: solid black 1px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*--------------------------------------------------*/
/* 프로필 css*/
#profile{
    border: solid;
    border-color: blue;
}
#profile_pic{
    width: 50px;
    width: 50px;
}
/*--------------------------------------------------*/
/* 하이라이트 css*/
.highlight{
    border: solid;
    border-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}
#highlight_pic{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
/*--------------------------------------------------*/
/* 스테이터스 css*/
.stat{
    width: 100;
    text-align: center;
    border: solid 1px gray;
    margin: 3px 5px 3px;
    border-radius: 10px;
    
}
.stat_bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}
/*--------------------------------------------------*/
/*게시글*/
.thumbnail_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
}
.thumbnail{
    width: 100%;   
}
/*--------------------------------------------------*/